# Used by "mix format"
[<%= if @ecto? or @web? do %>
  import_deps: [<%= if @ecto? do %>:ecto, :ecto_sql<% end %><%= if @ecto? and @web? do %>, <% end %><%= if @web? do %>:phoenix<% end %>],<% end %><%= if @ecto? do %>
  subdirectories: ["priv/*/migrations"],<% end %><%= if @web? and not @api? do %>
  plugins: [Phoenix.LiveView.HTMLFormatter],<% end %>
  inputs: [
    "{mix,.formatter}.exs",
    "{config,lib,scripts,test}/**/*.{ex,exs<%= if @web? and not @api? do %>,heex<% end %>}"<%= if @ecto? do %>,
    "priv/*/seeds.exs"<% end %>
  ]
]
