-----BEGIN CERTIFICATE-----
MIIDgDCCAmqgAwIBAgIIST0th7jlUvAwCwYJKoZIhvcNAQELMEgxGjAYBgNVBAoM
EVBob2VuaXggRnJhbWV3b3JrMSowKAYDVQQDDCFTZWxmLXNpZ25lZCBnUlBDIHRl
c3QgY2VydGlmaWNhdGUwHhcNMjYwODI4MDAwMDAwWhcNMjcwODI4MDAwMDAwWjBI
MRowGAYDVQQKDBFQaG9lbml4IEZyYW1ld29yazEqMCgGA1UEAwwhU2VsZi1zaWdu
ZWQgZ1JQQyB0ZXN0IGNlcnRpZmljYXRlMIIBIDALBgkqhkiG9w0BAQEDggEPADCC
AQoCggEBAMfts+hGobpFRLiRfr4R8a14y+/Kmip7yDSBLCYrnSQErxDvP7isu839
9u3MJGlDEm6mVsRi6V29uVvmUnokvUBtuk8NS12VUYhl70c6AOya1nEwIcz4ebyn
sgGLnlQTK+G4mfx0Q5XQM5kd5JKdj5tDyoOF/5oc5xk/Ei7HqN8IJGJjNljwVws7
6DUZz/uBSIws9MnmsVTuF34MOibH9x7GrwiJHY8bJo0Pz90VduD5uxO8LEcGxfPC
SBHyAg5JT5lCRveZwfUQTZPtflI7Djp8YYt/NmpX75SGCc6l5TrHrYaU3+Gmxc4B
0t7pOG9kie3vyyB/2x/f4M00DlBlpG0CAwEAAaN0MHIwDAYDVR0TAQH/BAIwADAO
BgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB0G
A1UdDgQWBBTX+h05WTDRAted6kA74WYtt0EytzAUBgNVHREEDTALgglsb2NhbGhv
c3QwCwYJKoZIhvcNAQELA4IBAQBQ3nSnP8VZNMTZwy7AO5U2BfaewrO4fBBciknR
6JYIka6QZ/OlSfPL8OIkMiKZyoprltf49kAXoUVX0QXRRxW40/9gsPxYvikBgb0q
pVAuMSxvm+Kw98vWjzqxwLh/hX2jSjULNxpy2q+2yV2XBcgpq4PWJOW9ZI4XMECu
8/PJefKVRJilSHNwqMDdGU0bkxkrWPzbrB/p/p82jfWKKxGSEiM/53t+7m7nbP1r
V+KYJk6in+DV0Zs/tYrZutG9+bhZSuEYtHJV3x5RXgXfrlBNGGi7jCgrPq4bjDIA
zb66MiLdAG2BQWa3rDXO0loiUDcS4u28I9XWxZa+RknwDW2Y
-----END CERTIFICATE-----

